<body background="https://media.istockphoto.com/photos/3d-rendering-of-modern-cozy-house-summer-evening-picture-id697705574?k=6&m=697705574&s=612x612&w=0&h=2dt1adDgmhuWVeo-w5DRsZOLjAArZiTgirl9__kjE2M=" style="background-size:cover;">
    {% extends "registration/base.html"%}
    {% load bootstrap3 %}
    {% block content %}
    
    <div class="container">
      <div class="row">
        <!-- Empty div -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
          {% if form.errors %}
            <p> Password or Username is incorrect </p>
          {% endif %}
          <div class="panel panel-default">
    
            <div class="panel-heading">
              <h3 class="text-center">Sign In</h3>
            </div>
            <div class="panel-body">
    
              <form  action="/accounts/login/" method="post">
                {% csrf_token %}
                {% bootstrap_form form%}
    
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-sm" value="Login">
                </div>
    
                <input type="hidden" name="next" value="{{next}}">
    
            </form>
    
        </div>
    
    </div>
    
    <div class="w3-card-4 w3-margin-top w3-padding">
    
        <div class="w3-container w3-padding">
            <p class="w3-center"> Don't Have an account? <a href="/accounts/register">Sign Up</a> </p>
    
        </div>
    
    </div>
    
    </div>
    <div class="w3-col l2">
    
    </div>
    
    
    </div>
    </div>
    
    
    {% endblock %}
    </body>