<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-bar w3-black">
<nav>
  <a href="{% url 'home' %}" class="w3-bar-item w3-button">Home</a>
  </nav>
</div>
<div class="container-fluid" style="margin-top: 130px;" align="center">
   <div class="row">
    <h3 class="text-center">{{neiba.name}}</h3>
     <div class="col-6">
       <img class="lib-img-show" width ="500" height="300">
    

     </div>
     <div class="col-md-5">
       <div class="one-project-text">
        
         <div class="row">

           <div class="col-md-6">
             <a  data-toggle="modal" data-target="{{hood.id}}class="btn" style="float:left"></a>
           </div>
        </div>
      </div>
     </div>
      </div>
         <div class="col-md-6">
           <a  class="btn" style="float:right">Visit Hood</a>
         </div>
