<body background="https://activerain.com/image_store/uploads/agents/realtyresource/files/KENNYMAY2018.png" style="background-size:cover;">
{% extends 'base.html'%}
{%load static %}
{{form.media}}

{% block styles%}
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content%}
<body>
    
<strong><h1 class="glow" style="font-style: italic;">NEIGHBOR-HOOD</h1></strong>
</body>
 <section id="photos">
        
        <div class="container">
       
            <div class="row">
                {% for neiba in neiba%}
                <div class="col-md-4">
                  <div class="card mb-4  shadow-sm" style="width:20rem;height:23rem;">
                    <p><h1>{{neiba.neiba_name}}</h1></p>
                    <img class="card-img-top" width="100%" height="225" src="{{neiba.neiba_photo.url}}" />
                    <p>{{neiba.description}}</p>
                    <button class="btn btn-info"> <a href="{{neiba.url}}">{{neiba.neiba_name}}</a></button>
                    
                    
                  </div>
                </div>
                </div>
                {% endfor %}
                           

            </div>
        </div>
    </section>
</body>
{% endblock%}
