{% extends 'base.html'%}
{%load static %}
{{form.media}}
{% block content %}

<body background="https://activerain.com/image_store/uploads/agents/realtyresource/files/KENNYMAY2018.png" style="background-size:cover;">

  {% block styles%}
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {% endblock %}



  <strong>
    <h1 class="glow" style="font-style: italic;">NEIGHBOR-HOOD</h1>
  </strong>

  <section id="photos">

    <div class="container">

      <div class="row">


        {% for neiba in neibas %}
        <img src="{{neiba.image.url}}" alt="{{neiba.name}}">
        <p>{{neiba.location}}</p>
        <p>{{neiba.name}}</p>


        {% endfor %}

      </div>

  </section>

</body>
{% endblock %}